.app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 8rem;
  background: rgba(14, 13, 57, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(14, 13, 57, 0.5);
  position: fixed;
  z-index: 2;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 90px;

    @media screen and (min-width: 2000px) {
      width: 180px;
    }
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;

    flex-direction: column;

    div {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;

      margin-bottom: 5px;
    }

    a {
      color: var(--gray-color);
      text-decoration: none;
      flex-direction: column;

      text-transform: uppercase;
      font-weight: 500;

      transition: all 0.3s ease-in-out;
    }

    &:hover,
    &.active {
      a {
        color: var(--red-color);
      }
      div {
        background: var(--red-color);
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__navbar-contact {
  border-left: 1px solid #5b6786;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  svg {
    color: var(--gray-color);
  }
  a {
    color: var(--red-color);
    margin-left: 10px;
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}
.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);

  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    padding: 1rem;

    width: 80%;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    background: url("../../assets/bgWhite.png");
    background-color: var(--white-color);
    background-size: cover;
    background-repeat: repeat;

    /* top box shadow */
    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      &.app__navbar-social {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
        a {
          width: 50px;
          height: 50px;
          border-radius: 4px;
          background-color: var(--secondary-dark);
          margin: 0.25rem;
          border: 1px solid var(--primary-dark);

          display: flex;
          justify-content: center;
          align-items: center;

          transition: all 0.3s ease-in-out;

          svg {
            color: var(--white-color);
          }

          &:hover {
            background-color: var(--secondary-color);
            border-color: var(--secondary-color);

            svg {
              color: var(--white-color);
            }
          }
        }
      }
      li {
        margin: 1rem;

        a {
          color: var(--gray-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;

          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}

.toggle {
  display: flex;
  align-items: center;
  margin: 10px;

  .colorOption {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #6439ff;
    margin: 5px;
    cursor: pointer;
    &:nth-child(1) {
      background-color: whitesmoke;
    }
    &:nth-child(2) {
      background-color: #333;
    }
  }
}
